{% extends 'base.jinja' %}

{% block header %}
<h1>{% block title %}Authorization required!{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" maxlength="11" required>
  <input type="submit" value="Log In">
</form>
{% endblock %}