{% extends 'base.jinja' %}

{% block header %}
<h1>{% block title %}THIS DOWNLOAD IS LOCKED!{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
Generate a token using the token generation service open at port 7438.
</p>
<form method="post">
  <label for="token">Token</label>
  <input name="token" id="token" required>
  <input type="submit" value="Log In">
</form>
{% endblock %}